<% include header.ejs%>
<div class="container">
  <div class="alert text-center alert-success d-none" role="alert" id="successAdd">
      Product Added!
  </div>
  <div class="alert alert-danger text-center d-none" role="alert" id="errorAdd">
      Something Went Wrong!
  </div>
  <div style="max-width: 750px;margin: 50px auto;" class="bg-light p-5">
    <h2 class="text-center m-4">Add Product form</h2>
    <form action="/prod/addProduct" method="post" id="addProductForm">
      <input type="text" name="name" placeholder="Enter the name of the Product" class="form-control" required><br>
      <input type="text" class="form-control" name="desc" id="" placeholder="Enter the description" required><br>
      <input type="number" name="quan" id="" class="form-control" min="1" placeholder="Enter the Quantity" required><br>
      <input type="number" name="price" id="" min="1" class="form-control" placeholder="Enter the price" required><br>
      <input type="button" id="btnAdd" class="form-control btn btn-info" value="Add Product">
      <button id="btnCancel" class="btnCancel form-control btn btn-danger mt-3">Cancel</button>
    </form>
  </div>  
</div>

<% include footer.ejs%>
