<%include header.ejs%>

<div class="container">
  <div id="divListOfProducts">
      <div class="card-deck" style="flex-wrap: wrap;justify-content: space-evenly">
          <% dataObj.data.forEach(info=>{ %>
          <div class="card" style="flex: 0 0 20%;margin-bottom: 15px;
          border: 2px solid rgba(0,0,0,.125); min-width:250px; ;" id="<%=info._id%>">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title text-center"><%=info.name%></h5>
              <p class="card-text text-center"><%=info.desc%></p>
              <h6 class="">₹<%=info.price%></h6>
              <div class="card-title d-flex justify-content-around align-items-center">
                <input type="number" min="0" name="qty" placeholder="Quantity">
                <button class="btn btn-light btn-outline-info btnAddToCart">Add To Cart</button>
              </div>
            </div>
          </div>
          <%});%>
        </div>
    </div>
</div>

<%include footer.ejs%>