<% include header.ejs%>

    <div class="container">
      <div style="max-width: 750px;margin: 50px auto;" class="bg-info p-5">
        <h2 class="text-center">Login</h2>
        <form action="/user/login" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email"><br>
            <input type="password" name="password" class="form-control" id="" placeholder="Password"><br>
            <input type="submit" value="Login" class="form-control btn btn-dark">
            <a href="/user/register" style="color: white;text-align: center;" class="text-center">Create an Account</a>
          </div>
        </form>
      </div>
    </div>

<% include footer.ejs%>
